<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Content</div>
                <a class="nav-link collapsed" href="/" >
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Trang chủ
                </a>
                <a class="nav-link collapsed" href="/categories">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Danh mục
                </a>
            </div>
        </div>
    </nav>
</div>