<div class="container-fluid px-4">
  <h1 class="mt-4">Quản lý danh mục</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Danh mục</li>
  </ol>

  <div class="row" style="background-color: rgba(0,0,0,.03);">
    <div class="col-md-4 col-sm-4 pt-2 form-group">
      <div class="input-group">
        <input type="text" (keyup.enter)="list.get()" [(ngModel)]="input.filter" class="form-control"
          placeholder="Search for...">
      </div>
    </div>
    <div class="col-md-4 col-sm-4 pt-2">
      <select class="form-control" (change)="list.get()" [(ngModel)]="input.parentId">
        <option selected value="">--chọn tất--</option>
        <option *ngFor="let x of parentCategories" [value]="x.code">{{x.name}}</option>
      </select>
    </div>
    <!-- Add the "new book" button here -->
    <div class=" col-md-4 col-sm-4 text-lg-right pt-2">
      <button id="create" class="btn btn-primary mx-2" type="button" (click)="createNew()">

        <span><i class="fa fa-plus mr-1"></i>{{ "::Thêm mới" | abpLocalization }}</span>
      </button>
      <button id="create" class="btn btn-danger" type="button" (click)="deleteMulti()">

        <span><i class="fa fa-trash mr-1"></i>{{ "::Xóa Tât" | abpLocalization }}</span>
      </button>
    </div>
  </div>

  <div class="row"></div>
  <div class="clearfix"></div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Danh sách danh mục
    </div>
    <div class="card-body">
      <ngx-datatable [rows]="category.items" [count]="category.totalCount" [list]="list" default>
        <ngx-datatable-column [name]="'Chọn'" [sortable]="false" [headerCheckboxable]="true" [width]="10">
          <ng-template ngx-datatable-cell-template let-row="row">
            <input type="checkbox" (change)="onSelect(row,$event)" [name]="row.id"
              style="width:50px; height:20px;text-align: center;" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Mã danh mục' | abpLocalization" prop="code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.code }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Tên danh mục' | abpLocalization" prop="name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Ngày tạo' | abpLocalization" prop="creationTime">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.creationTime | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Hành động'" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-secondary mx-1" (click)="edit(row.id)">
              {{ '::Sửa' | abpLocalization }}
            </button>
            <button type="button" class="btn btn-danger mx-1" (click)="delete(row.id)">
              {{ '::Xóa' | abpLocalization }}
            </button>
            <button type="button" class="btn btn-primary mx-1" (click)="showEdit(row.id)">
              <i class="fas fa-edit"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedItem.id ? '::Sửa' : '::Thêm mới') | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="category-name">Danh mục cha</label><span> * </span>
        <select class="form-control" formControlName="parentId">
          <option *ngFor="let x of parentCategories" [value]="x.code">{{x.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="category-code">Mã danh mục</label><span> * </span>
        <input type="text" id="category-code" class="form-control" formControlName="code" autofocus />
      </div>

      <div class="form-group">
        <label for="category-name">Tên danh mục</label><span> * </span>
        <input type="text" id="category-name" class="form-control" formControlName="name" />
      </div>
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-secondary mx-2" abpClose>
          {{ '::Đóng' | abpLocalization }}
        </button>
        <!--added save button-->
        <button class="btn btn-primary" (click)="save()">
          <i class="fa fa-check mr-1"></i>
          {{ '::Lưu' | abpLocalization }}
        </button>
      </div>
    </form>
  </ng-template>
</abp-modal>