<div class="container-fluid px-4">
  <h1 class="mt-4">Quản lý danh mục</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Danh mục</li>
  </ol>

  <div class="row mb-4" style="background-color: rgba(0,0,0,.03);margin: 0;height: auto;">
    <div class="col-md-2 col-sm-2 pt-2">
      <div class="form-group">
        <input type="text" (keyup.enter)="list.get()" [(ngModel)]="input.filter" class="form-control"
          placeholder="Search for..." autocomplete="off">
      </div>
    </div>
    <div class="col-md-2 col-sm-2 pt-2">
      <select class="form-control custom-select" (change)="list.get()" [(ngModel)]="input.parentId">
        <option selected value="">--chọn tất--</option>
        <option *ngFor="let x of parentCategories" [value]="x.code">{{x.code}}</option>
      </select>
    </div>
    <div class=" col-md-4 col-sm-4 pt-2"></div>
    <!-- Add the "new book" button here -->
    <div class=" col-md-4 col-sm-4 text-lg-right pt-2">
      <button id="create" class="btn btn-primary mx-2" type="button" (click)="createNew()">

        <span><i class="fa fa-plus mr-1"></i>{{ "::Thêm mới" | abpLocalization }}</span>
      </button>
      <button id="create" class="btn btn-danger" type="button" (click)="deleteMulti()">

        <span><i class="fa fa-trash mr-1"></i>{{ "::Xóa Tât" | abpLocalization }}</span>
      </button>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Danh sách danh mục
    </div>
    <div class="card-body">
      <ngx-datatable [rows]="category.items" [count]="category.totalCount" [list]="list" default>
        <ngx-datatable-column [name]="'Chọn'" [sortable]="false" [width]="80" [canAutoResize]="false">
          <ng-template ngx-datatable-cell-template let-row="row">
            <input type="checkbox" (change)="onSelect(row,$event)" [name]="row.id"
              style="width:25px; height:20px" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Mã danh mục' | abpLocalization" prop="code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.code }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Tên danh mục' | abpLocalization" prop="name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Ngày tạo' | abpLocalization" prop="creationTime">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.creationTime | date }}
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column [name]="'Hành động'" [sortable]="false" [width]="250" [canAutoResize]="false"> -->
          <ngx-datatable-column [name]="'Hành động'" [sortable]="false" [width]="150" [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-secondary mx-1" (click)="edit(row.id)">
              <i class="fas fa-edit"></i>
              <!-- {{ '::Sửa' | abpLocalization }} -->
            </button>
            <button type="button" class="btn btn-danger mx-1" (click)="delete(row.id)">
              <i class="fas fa-trash"></i>
              <!-- {{ '::Xóa' | abpLocalization }} -->
            </button>
            <!-- <button type="button" class="btn btn-primary mx-1" (click)="showEdit(row.id)">
              <i class="fas fa-edit"></i>
              {{ '::Sửa' | abpLocalization }}
            </button> -->
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template>
            <div class="page-count">{{category.totalCount}} total </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="currentPage"
              [size]="pageSize"
              [count]="category.totalCount"
              (change)="onPageChange($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>

<!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
  

  <ng-template #abpHeader>
    <h3>{{ (itemId ? '::Sửa' : '::Thêm mới') | abpLocalization }}</h3>
  </ng-template>
  
  <ng-template #abpBody>
    <app-create-category
  [isRouting]="isRoutingOpen"
  [entityId]="itemId"
  [parentItems]="parentCategories"
  (formEvent) = "frmEvent($event)"
  (savedEvent)="evtSave($event)"></app-create-category>
  </ng-template>
  
  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
    <!-- <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid"> -->
      <button class="btn btn-primary" type="submit" (click)="save()" [disabled]="formGrp?.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>