<div class="modal-header">
  <h4 class="modal-title pull-left">{{ (selectItem.id ? '::Sửa' : '::Thêm mới') | abpLocalization }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="form-horizontal form-label-left" [formGroup]="form" (ngSubmit)="save()" *ngIf="form">
  <div class="modal-body div-scroll">
    <div class="form-group">
      <label for="category-name">Danh mục cha</label><span> * </span>
      <select class="form-control" formControlName="parentId">
        <option selected value='null'>-------Danh mục cha--------</option>
        <option *ngFor="let x of parentItems" [value]="x.code">{{x.code}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="category-code">Mã danh mục</label><span> * </span>
      <input type="text" id="category-code" class="form-control" formControlName="code" autocomplete="off" />
    </div>

    <div class="form-group">
      <label for="category-name">Tên danh mục</label><span> * </span>
      <input type="text" id="category-name" class="form-control" formControlName="name" autocomplete="off"/>
    </div>
  </div>
  <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Lưu lại</button>
      <!-- <button type="submit" class="btn btn-primary" >Lưu lại</button> -->
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Đóng</button>
  </div>
</form>